<ion-view title="الدخول">
  <ion-content class="padding" style="background-color: #F3F3F3">
    <div class="card">
      <div class="item item-text-wrap">
        <h1 align="center" >tbaadol</h1>
        <button class="button button-full button-positive" ng-click="emailLogin()">دخـول</button>
        <button class="button button-full button-positive" ng-click="emailRegister()">التسجيل</button>
        <button class="button button-full button-positive" href="#/home/browse">دخول الموقع</button>
      </div>
    </div>
  </ion-content>
</ion-view>

