<ion-view  title="مدارس عُمان">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <h3>حاليا تتوفر خرائط محافظة مسقط</h3>
        <div class="list card">
            <div class="item item-divider">محافظة مسقط</div>
            <div class="item item-body">
                <a style="display: inline-block; width: 100%; height: auto;" href="#/home/muscatSchool">
                    <img src="img/oGjvypriRniJQLS4rdrw_MUSCAT-AT-NIGHT.jpg" width="100%" height="auto">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
