<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="الرئيسية" icon="ion-ios-home" href="#/home/browse">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="مدارس عُمان" icon="ion-university" href="#/home/omanSchool">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="المدونة" icon="ion-social-rss" href="#/home/blog">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="صفحتي" icon="ion-ios-person" href="#/home/account">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
