<div class="popup-fade" id=logPopup" title="changePassword">

  <div class="panel-body" dir="rtl">
    <form name="login" ng-model="user" ng-submit="changePassword(user)">

      <label class="item item-input loginForm" >
        <i class="ion-email"></i>
        <input class="loginInput" type="email" ng-model="user.email" placeholder="الإيـمـيـل">

      </label>
      <label class="item item-input loginForm" >
        <i class="ion-unlocked"></i>
        <input class="loginInput" type="password" ng-model="user.oldPss" placeholder=" الرقم السري القديم" >
      </label>

      </label>
      <label class="item item-input loginForm" >
        <i class="ion-unlocked"></i>
        <input class="loginInput" type="password" ng-model="user.newPass" placeholder="الرقم السري الجديد " >
      </label>

    </form>
  </div>
</div>
