<div class="popup-fade" id=posModal" title="" >

  <div class="panel-body" dir="rtl">

    <form name="form"  ng-submit="createTask()">

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.title" placeholder="معلم /معلمة +المسمى الوظيفي" >
      </label>

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.school" placeholder="المـدرسـة">
      </label>

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.grade" placeholder="المـرحـلـة " >
      </label>

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.governorate" placeholder="المـحـافـظـة/المـنـطـقة" >
      </label>

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.wilayat" placeholder="الـولايـة" >
      </label>

      <label class="item item-input loginForm" >
        <input class="loginInput" type="text" ng-model="task.residential" placeholder="منطقة سكنية" >
      </label>

      <label class="item item-input loginForm" >
        <textarea class="loginInput"  ng-model="task.description" placeholder=" الى أين ترغب بالتبادل " ></textarea>
      </label>

    </form>
  </div>
</div>


